body {
background-color: darkgray;
}

header {
background-size: 100%;
max-height: 300px;
min-height: 150px;
background-image: url("../image/TaverneTest1.jpg");
background-repeat: no-repeat;
text-align: right;
}

nav {
margin-top: 5px;
width: 100%;
background-color: grey;
border: 1px solid;
}

nav ul{
    display:flex;
    justify-content: space-around;
}

nav li{
    display: inline;
}

nav a{
    text-decoration: none;
    color: blue;
    font-size: 25px;
    border: 1px solid black;
}

.feed
{
bottom: 0;
margin-top: 5px;
width: 9.5%;
background-color: grey;
float: left;
border: 1px solid;
}

.main{
width: 100%;
margin-top: 5px;
background-color: grey;
border: 1px solid;
}

footer{
position: absolute;
bottom: 0;
}

textarea { 
resize:vertical;
}

#logInOut{
    background-color: white;
    border: 1px solid black;
}